<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>My Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p class="justify ion-padding">
      Text here!!!
    </p>

    <ion-button routerLink="/my-book/option-a" routerDirection="forward" class="left-btn">
      Option A
    </ion-button>

    <ion-button routerLink="/my-book/option-b" routerDirection="forward" class="right-btn">
      Option B
    </ion-button>
  </ion-card>
</ion-content>
