<div class="justify">
  <p class="justify ion-padding">
    T’aixeques ràpidament maleït el teu descuit i continues corrent darrera la figura que s’allunya ràpidament. Tombes el carrer i veus com està torçant 
    la següent cantonada, intentes augmentar la teva carrera i al girar el revolt sent el cop sec d’una porta que es tanca.
  </p>
  <p>
    No has vist a quina casa a entrat i tampoc veus llum a cap finestra del carrer. Però no penses deixar-ho passar i enfiles el carrer amb pas lent parant 
    l’oïda per veure si pots sentir a algú parlant darrera d’alguna porta.
  </p>
  <p>
    Continues caminat sigil·losament fins arribar al final del carrer però no has vist res ni sentit cap soroll. Tombes per tornar enrere capcot quan de sobte 
    veus la figura del que sembla una dona caminant carrer avall.
  </p>
  <p>
    D’on ha sortit? Et preguntes a tu mateix, no has sentit cap porta obrint-se. Alleugeres el pas per a posar-te al costat de la dona que duu una bossa que sembla pesada.
  </p>
</div>