<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- TODO: Modificar el text pel títol del llibre -->
    <ion-title>el-meu-llibre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 
    TODO: copiar fins a </ion-card> (inclós) i modificar el text el-meu-llibe pel títol de llibre.
    També s'ha de modificar text pel nom del primer capítol del llibre.
    Per últim, modificarem el text contingut entre <p> i </p> escribint una frase sobre el llibre que
    acabem d'incloure.
  -->
  <ion-card>
    <div id="el-meu-llibre" aria-hidden="true" viewBox="0 0 10 10"></div>
    <p>La razón de la sinrazón, que a mi razón se hace, de tal manera mi razón enflaquece, que con razón me quejo de la vuestra fermosura.</p>
  
    <ion-button expand="block" routerLink="/el-meu-llibre/text">Accedir al llibre</ion-button>
  </ion-card>
</ion-content>
