<div class="justify">
  <img src="../../../assets/img/pexels-ian-lavrinovich-9056836.jpg" alt="image description">
  <p class="justify ion-padding">
    Sense dir res al teu amic t'enfiles pels carrerons per a perseguir al lladre. Cada cop que arriba a l’entrada d’un carrer veus com la figura obscura 
    gira pel següent carrer a tota velocitat, però mica en mica sembla que et vas apropant al lladre.
  </p>
  <p>
    -	Quiet! – Escridasses. – Si t’atures ara mateix no et faré res, però com em facis córrer darrera teu...
  </p>
  <p>
    La figura no es gira i continua corrent com a ànima en pena. De sobte en sent un xiulet a la nit. És u xiulet curt i agut. No pares atenció i 
    continues amb la persecució, pense que podria ser un petit ocell. De sobte es sent un cop sec i dur. Està boca terra, el xiulet havia estat provocat per la caiguda de 
    capses al mig del carrer.
  </p>
</div>