<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>my-book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-text-center">
      <a href="https://www.gifsanimados.org/cat-ninos-y-ninas-545.htm"><img src="https://www.gifsanimados.org/data/media/545/nino-y-nina-imagen-animada-0158.gif" border="0" 
      alt="Niños jugando en un bañancín"/></a>
    </div>
    
    <p class="justify ion-padding">
      Text here!!!
    </p>

    <ion-button routerLink="/my-book/option-i" routerDirection="forward" class="left-btn">
      Option I
    </ion-button>

    <ion-button routerLink="/my-book/option-j" routerDirection="forward" class="right-btn">
      Option J
    </ion-button>
  </ion-card>
</ion-content>