<div class="justify">
  <p class="justify ion-padding">
    -	Bona nit, em permet que li ajudi? – Li dius traient el barret, - sembla una bossa força feixuga.
  </p>
  <p>
    -	Bona nit? Ja comença a clarejar! – respon la dona – La bossa es més lleugera del que sembla. A banda d’això, ja estic acostumada al seu pes.
  </p>
  <p>
    No et dones per vençut i continues oferint-li els teus serveis, el que realment vols es establir una petita conversa amb ella per intentar esbrinar 
    alguna cosa més sobre el vailet al que perseguies.
  </p>
  <p>
    - Insisteixo, no puc veure una dona bonica carregada sense fer-ne res.
  </p>
  <p>
    Sents com la dona remuga alguna cosa com: - Els homes i les seves galanteries. Les dones pas som tant dèbils com es pensen.
  </p>
  <p>
    -	Està bé, com a mínim l’acompanyaré fins el moll. – dius sense donar-te per vençut.
  </p>
  <p>
    La dona et mira no gaire convençuda del teu oferiment. – Ningú li prohibeix caminar al carrer, pel moment.
  </p>
  <p>
    Sospires i camines al seu costat intentant saber-ne si ha vist a algú al carrer o ha sentit alguna cosa abans de sortir de casa, però la només 
    obtens respostes evasives de la dona i males mirades.
  </p>
  <p>
    Arribeu al moll quan ja es veu el sol a l’horitzó i trobes que hi ha més moviment del habitual, sobre tot de soldats.
  </p>
  <p>
    -	Ha estat un plaer – Li dius duent-hi la mà al barret.
  </p>
  <p>
    -	Ha sigut tot vostre – et respon mentre es gira i enfila cap el que sembla la llonja.
  </p>
  <p>
    Et quedes quiet mirant com s’allunya, mai havies conegut una dona tant caparruda com ella, i la seva última frase t’ha encès la sang.
  </p>
</div>