<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- TODO: Modificar el text pel títol de la pàgina o eliminarem la següent línia -->
    <ion-title>Títol de pàgina</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div id="imatge"></div>
  
  <!-- TODO: Modificar el text per continuar amb la història -->
  <p>
    Text de la pàgina
  </p>

  <!-- 
    TODO: Modificar routerLink amb l'enllaç a la pàgina de destí. 
    Modificar OPCIÓ 3 amb l'opció donada al lector
  -->
  <ion-button id="opcio-1" shape="round" routerLink="/el-meu-llibre/video">Opció 3</ion-button>

  <!-- 
    TODO: Modificar routerLink amb l'enllaç a la pàgina de destí. 
    Modificar OPCIÓ 4 amb l'opció donada al lector
  -->
  <ion-button id="opcio-2" shape="round" routerLink="/el-meu-llibre/so">Opció 4</ion-button>
</ion-content>