<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>La Girafa i el Conill</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
 
  <p>
    Temps era temps quan els animals parlaven i les flors cantaven, en un bosc molt bonic i ple de flors cantaires hi vivia:
  </p>

  <div id="btn-content">
    <button id="girafa" class="btn-img" routerLink="/la-girafa-i-el-conill/girafa"><span class="hidden-txt">Una Girafa</span></button>
    <button id="conill" class="btn-img" routerLink="/la-girafa-i-el-conill/conill"><span class="hidden-txt">Un Conill</span></button>
  </div>

</ion-content>