<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>my-book</ion-title>
  </ion-toolbar>
</ion-header>

<iframe src="https://www.youtube.com/embed/5Qf-bBDim2E" title="Video option c" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ion-content>
  <ion-card>
    <p class="justify ion-padding">
      Text here!!!
    </p>

    <ion-button routerLink="/my-book/option-g" routerDirection="forward" class="left-btn">
      Option G
    </ion-button>

    <ion-button routerLink="/my-book/option-h" routerDirection="forward" class="right-btn">
      Option H
    </ion-button>
  </ion-card>
</ion-content>