<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Illes Formigues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <h2>10 d'agost de 1284</h2>
    <div class="justify">
      <p>
        És un assolellat dia d’agost, es poden sentir els crits de les gavines barallant-se pel peix que porten les barques dels pescadors. 
        La calor fa que molta gent es refugi a les tabernes que hi ha prop del moll, on mariners i soldats xerrant animadament mentre beuen vi.
      </p>
      <p>
        - M’han dit que els francesos s’han fet amb Palamós i Sant Feliu – comenta un soldat – i que han fet peu a terra.
      </p>
      <p>
        L’Antoni, soldat vell, se’l mira i afegeix – Si això és cert, no trigarem en embarcar-nos. El rei ja sabia que el francès no es quedaria quiet. Però ...
      </p>
      <p>
        En Quimet, un noi nascut als molls i que va perdre al seu pare durant la conquesta de Sicília, obre les portes de la taberna.
      </p>
      <p>
        - On va grumet? – pregunta una veu greu. – encara has de créixer un parell de pams per a poder entrar aquí.
      </p>
      <p>
        En Quimet alça el cap buscant l’home que acaba de parlar. -Mon pare va morir lluitant per aquesta illa. Tinc tot el dret d’estar aquí!
      </p>
      <p>
        L’home s’aixeca de la cadira i va caminant cap a ell. – Seu Joan. Deixa tranquil al Quimet. És un bon noi i no et robarà el canut.
      </p>
      <p>
        - Jo no estaria tant tranquil Jaume. – Respon Joan – Tens les mans tant dures com les meves de pujar a la garfia i saps que les seves son molt ràpides.
      </p>
    </div>
    <p>
      Quin personatge vols ser?
    </p>
    <div class="container character">
      <div class="item">
        <a title="Continuar com a Antoni" routerLink="/illes-formigues/a001-antoni" routerDirection="forward" class="link">
          <div id="character-01"></div>
          <p>Antoni <span class="hidden">soldat vell</span></p>
        </a>
      </div>

      <div class="item">
        <a title="Continuar com a Quimet" routerLink="/illes-formigues/q001-quimet" routerDirection="forward" class="link">
          <div id="character-02"></div>
          <p>Quimet <span class="hidden">noi dels molls</span></p>
        </a>
      </div>

      <div class="item">
        <a title="Continuar com a Joan" routerLink="/illes-formigues/j001-joan" routerDirection="forward" class="link">
          <div id="character-03"></div>
          <p>Joan <span class="hidden">mariner</span></p>
        </a>
      </div>
    </div>
  </ion-card>
</ion-content>
