/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.justify{
    text-align: justify;
}

.center{
    text-align: center;
}

.left-btn{
    margin: 2vh 7vw;
}

.right-btn{
    margin: 2vh 7vw;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.item{
    width: 20vw;
    margin: 0 2vw;
    text-align: center;
}

.hidden{
    position: absolute;
    top: -9999px;

}

.link{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2vh 3vw;
    text-decoration: none;
    margin: 2vh 1vw;
    cursor: pointer;
    border-radius: 1em;
}